@import "reset";

html, body {
    color: #666;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: #333;
}

#app {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 960px;
    height: 540px;
    margin-top: -270px;
    margin-left: -480px;
    background-color: #111;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
}

canvas.stage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
